<%= render "shared/errors", obj: @team %>

<table class="attr">
  <tr>
    <th><%= label_tag "チーム名" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= label_tag "ホームタウン" %></th>
    <td><%= form.text_field :hometown %></td>
  </tr>
  <tr>
    <th><%= label_tag "スタジアム" %></th>
    <td><%= form.text_field :stadium %></td>
  </tr>
</table>
