<% @page_title = "チーム情報の編集" %>

<h1><%= @page_title %></h1>

<p><%= link_to "チームの詳細に戻る", @team %></p>

<%= form_for @team do |form| %>
<%= render "form", form: form %>
<p><%= form.submit %></p>
<% end %>
