<% @page_title = "登録済みチーム" %>

<h1><%= @page_title %></h1>

<%= form_tag :search_teams, method: :get do %>
<p><%= text_field_tag "q", params[:q] %>
<%= submit_tag "検索" %></p>
<% end %>

<p><%= link_to "チームの新規登録", :new_team %></p>

<% if @teams.present? %>
<table class="list">
  <tr>
    <th></th>
    <th>名前</th>
    <th>ホームタウン</th>
    <th>スタジアム</th>
    <th>操作</th>
  </tr>
  <% @teams.each do |team| %>
  <tr>
    <td><%= team_image_tag team, width: 24 %></td>
    <td><%= link_to team.name, team %></td>
    <td><%= team.hometown %></td>
    <td><%= team.stadium %></td>
    <td>
      <%= link_to "編集", [:edit, team] %> |
      <%= link_to "削除", team, method: :delete,
            confirm: "本当に削除しますか?" %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>チーム情報がありません。</p>
<% end %>
