<% @page_title = "チームの詳細" %>

<h1><%= @page_title %></h1>

<p><%= link_to "編集", [:edit, @team] %></p>

<table class="attr">
  <tr>
    <th>エンブレム</th>
    <td><%= team_image_tag @team, width: 48 %></td>
  </tr>
  <tr>
    <th>チーム名</th>
    <td><%= @team.name %></td>
  </tr>
  <tr>
    <th>ホームタウン</th>
    <td><%= @team.hometown %></td>
  </tr>
  <tr>
    <th>スタジアム</th>
    <td><%= @team.stadium %></td>
  </tr>
</table>
