<%= image_tag("logo.gif", size: "272x48", alt: "Morning Glory") %>

<div class="menubar">
<%= menu_link_to "TOP", root_path %> &nbsp;|&nbsp;
<%= menu_link_to "試合", :matches %> &nbsp;|&nbsp;
<%= menu_link_to "チームリスト", :teams %> &nbsp;|&nbsp;
<%= menu_link_to "管理ページ", "#" %>
</div>
