<%= render "shared/errors", obj: @record %>

<table class="attr">
  <tr>
    <th><%= label_tag "試合" %></th>
    <td><%= form.collection_select(:match_id, @matches, :id, :name) %>
    </td>
  </tr>
    <tr>
    <th><%= label_tag "チーム" %></th>
    <td><%= form.select(:team, {"Home" => 0, "Away" => 1}) %></td>
  </tr>
  <tr>
    <th><%= label_tag "event" %></th>
    <td><%= form.select(:event, ['PASS', 'DRIBBLE', 'SHOT', 'GOAL']) %></td>
  </tr>
  <tr>
    <th><%= label_tag "前・後半" %></th>
    <td><%= form.select(:half, {'前半' => 1, '後半' => 2}) %></td>
  </tr>
  <tr>
    <th><%= label_tag "時刻" %></th>
    <td><%= form.select(:recordtime, Array.new(56) {|i| i }) %></td>
  </tr>
</table>
