<% @page_title = "記録の編集" %>

<h1><%= @page_title %></h1>

<p><%= link_to "記録の詳細に戻る", @record %></p>

<%= form_for @record do |form| %>
<%= render "form", form: form %>
<p><%= form.submit %></p>
<% end %>
