<% @page_title = "記録の詳細" %>

<h1><%= @page_title %></h1>

<p><%= link_to "編集", [:edit, @record] %></p>

<table class="attr">
  <tr>
    <th>試合</th>
    <td><%= link_to @record.match.name, @record.match %></td>
  </tr>
  <tr>
    <th>チーム</th>
    <td><%= if (@record.team == 0) then 
                @record.match.teams.first.name
            else 
                @record.match.teams.second.name 
            end %>
    </td>
  </tr>
  <tr>
    <th>イベント</th>
    <td><%= @record.event %></td>
  </tr>
  <tr>
    <th>時刻</th>
    <td><%= (@record.half == 1) ? "前半" : "後半"%> <%= @record.recordtime %> min.</td>
  </tr>
</table>
