<%= render "shared/errors", obj: @match %>

<table class="attr">
  <tr>
    <th><%= form.label :name, "ID" %></th>
    <td><%= form.text_field :matchid %></td>
  </tr>
  <tr>
    <th><%= label_tag "チームA" %></th>
    <td><%= select_tag :team0, options_from_collection_for_select(@teams, :id, :name, (@match.teams.present? ? @teams.index(@match.teams.first) : 0)+1) %></td>
  </tr>
  <tr>
    <th><%= label_tag "チームB" %></th>
    <td><%= select_tag :team1, options_from_collection_for_select(@teams, :id, :name, (@match.teams.present? ? @teams.index(@match.teams.second) : 0)+1) %></td>
  </tr>
</table>
