<% @page_title = "試合情報の編集" %>

<h1><%= @page_title %></h1>

<p><%= link_to "試合の詳細に戻る", @match %></p>

<%= form_for @match do |form| %>
<%= render "form", form: form %>
<p><%= form.submit %></p>
<% end %>
