<% @page_title = "試合" %>

<h1><%= @page_title %></h1>

<%= form_tag :search_matches, method: :get do %>
<p><%= text_field_tag "q", params[:q] %>
<%= submit_tag "検索" %></p>
<% end %>

<p><%= link_to "試合の登録", :new_match %></p>

<% if @matches.present? %>
<table class="list">
  <tr>
  　<th>HOME</th>
    <th>対戦カード</th>
    <th>AWAY</th>
    <th>操作</th>
  </tr>
  <% @matches.each do |match| %>
  <tr>
    <td align="center"><%= team_image_tag match.teams.all.first, width: 24 if match.teams.all.first %></td>
    <td align="center"><%= link_to match.name, match %></td>
    <td align="center"><%= team_image_tag match.teams.all.second, width: 24 if match.teams.all.second %></td>
    <td>
      <%= link_to "編集", [:edit, match] %> |
      <%= link_to "削除", match, method: :delete,
            confirm: "本当に削除しますか?" %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>試合が登録されていません。</p>
<% end %>
