<% @page_title = @match.name %>
<%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>

<h1><%= @page_title %></h1>

<p><%= link_to "編集", [:edit, @match] %></p>

<table class="attr">
  <tr>
    <th>前半</th>
    <td><%= @match.teams.order(:id).first.name %></td>
  </tr>
  <% @match.records.where(team: 0, half: 1).order(:recordtime).each do |record| %>
  <tr>
    <th><%= record.recordtime %> min.</th>
    <td><%= link_to record.event ,record %></td>
  </tr>
  <% end %>
</table>

<table class="attr">
  <tr>
    <th>前半</th>
    <td><%= @match.teams.order(:id).second.name %></td>
  </tr>
  <% @match.records.where(team: 1, half: 1).order(:recordtime).each do |record| %>
  <tr>
    <th><%= record.recordtime %> min.</th>
    <td><%= link_to record.event, record %></td>
  </tr>
  <% end %>
</table>

<table class="attr">
  <tr>
    <th>後半</th>
    <td><%= @match.teams.order(:id).first.name %></td>
  </tr>
  <% @match.records.where(team: 0, half: 2).order(:recordtime).each do |record| %>
  <tr>
    <th><%= record.recordtime %> min.</th>
    <td><%= link_to record.event ,record %></td>
  </tr>
  <% end %>
</table>

<table class="attr">
  <tr>
    <th>後半</th>
    <td><%= @match.teams.order(:id).second.name %></td>
  </tr>
  <% @match.records.where(team: 1, half: 2).order(:recordtime).each do |record| %>
  <tr>
    <th><%= record.recordtime %> min.</th>
    <td><%= link_to record.event, record %></td>
  </tr>
  <% end %>
</table>

<table class="attr">
  <tr>
    <th> 追加 </th>
    <td><%= link_to "[ NEW RECORD ]", new_record_path %></td>
  </tr>
</table>

<table class="attr">
  <tr>
    <th><%= @match.teams.order(:id).first.name %>:</th><td id="team0"></td>
  </tr>
  <tr>
    <th><%= @match.teams.order(:id).second.name %>:</th><td id="team1"></td>
  </tr>
</table>

    <script type="text/javascript">
        //Width and height
        var w = 400; var dx = w*0.9/50;
        var h =  60;
        var s =   1;

        var data0 = <%= @match.records.where(team: 0, half: 1).order(:recordtime).map(&:recordtime) %>;
        var data1 = <%= @match.records.where(team: 1, half: 1).order(:recordtime).map(&:recordtime) %>;

        //Create SVG element
        var svg0 = d3.select("#team0")
                     .append("svg")
                     .attr("width", w)
                     .attr("height", h);
        var svg1 = d3.select("#team1")
                     .append("svg")
                     .attr("width", w)
                     .attr("height", h);

        svg0.selectAll("path")
            .data(data0)
            .enter()
            .append("path")
            .attr("d", function(d) {return "M "+(d*dx)+" 0 L "+(d*dx)+" "+h;})
            .attr("stroke", "green")
            .attr("stroke-width", s);
        svg1.selectAll("path")
            .data(data1)
            .enter()
            .append("path")
            .attr("d", function(d) {return "M "+(d*dx)+" 0 L "+(d*dx)+" "+h;})
            .attr("stroke", "green")
            .attr("stroke-width", s);
    </script>

